
#top{width: 100%; height: 1050px; margin: 0 auto; background-image: url(../img/main.jpg); background-position:center; background-repeat: no-repeat;}

#category{width: 1165px; height: 600px; margin: 0 auto;}
#category nav{float: left; margin: 300px 0 0 21px; width:360px; height: 145px; background-color: rgb(211, 217, 228);}
#category nav img{margin:-210px 0 0 77px; float: left;}
#category nav img[alt="amp"]{margin:-100px 0 0px 77px;}
#category nav img[alt="elec"]{margin: -205px 0 0 77px;}
#category nav img:hover{transform: scale(1.2);}

#category span{float: left; margin: 27px 0 0 135px; text-align: center;}
#category .ac{margin: 16px 0 0 130px;}
#category .si{margin: 20px 0 0 130px;}


#acoustic{width: 1165px; height: 640px; margin: 0 auto;}

.guitarbody{position: relative; width: 560px; height: 385px; float: left; margin: 100px 0 0 21px;}
.guitarbody img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.guitar{position: relative; float: right; width: 260px; height:320px; margin: 105px 21px 0 0px; background-color: rgb(244, 248, 250);}
.guitar img{position: absolute; top:-15px;}
.guitar img:hover{transform:scale(1.2);cursor: pointer;}
.guitar label{float: left;}
.guitar span{float: left; margin: 345px 0 0 90px;}
.guitar .st{margin: 345px 0 0 100px;}


#silent{width: 1165px; height: 650px; margin: 0 auto; }


.silenthead{float: right;}
.silenthead .line{margin-left: 125px;}

.silentbody{position: relative; float:right; width: 560px; height: 385px; margin: 90px 21px 0 0px; background-color: azure;}
.silentbody img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.silentgt{position: relative; float: left; width: 260px; height:320px; margin: 147px 0 0 21px; background-color: rgb(244, 248, 250);}
.silentgt img{position: absolute; float: left; left: 15px; top:10px;}
.silentgt img:hover{transform:scale(1.2);cursor: pointer;}
.silentgt span{float: left; margin: 350px 0 0 95px;}
.silentgt .slg{ margin: 350px 0 0 85px;}



#electronic{width: 1165px; height: 640px; margin: 0 auto;}
.elecbody{ position: relative; float:left; width: 560px; height: 385px; margin: 100px 21px 0 21px; background-color: azure;}
.elecbody img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.elgt{ float: left; width: 260px; height:320px; margin: 105px 21px 0 0px; background-color: rgb(244, 248, 250);}
.elgt img:hover{transform:scale(1.2);cursor: pointer;}
.elgt span{float: left; margin: 40px 0 0 90px;}
.elgt .ya{margin: 40px 0 0 65px;}


#maintenance{width: 1165px; height: 1040px; margin: 0 auto; position: relative;}
#maintenance .line{position: absolute; right: 0;}
#maintenance a{color: black; padding: 10px;}
#maintenance p{line-height: 35px;}
#maintenance input:hover{cursor: pointer;}
.artist{width: 670px; height: 280px;}
.more{top: 400px;left: 395px; width:145px; height: 50px; border-radius: 5px; border: 1px solid black;background-color:white;position: absolute;}
.story{position: relative; float: right; width:560px;height: 425px; margin: 100px 21px 0 0px; background-color: aqua;}
.story img{position: absolute; width: 100%;height: 100%;}
.artist p{float: left; width: 526px; height:0px; margin-left: 25px ;}
.artist h3{float: right; margin: 200px 50px 40px 0px;}


.as{position: relative; float: left; width: 560px; height: 425px; margin: 280px 0 0 20px; background-color: aquamarine;}
.as img{position: absolute; width: 100%;height: 100%;}
.more2{position: absolute; top:855px; right: 385px; width:145px; height: 50px; border-radius: 5px; background-color:white; border: 1px solid black;}
.place{float: right; width: 550px; height: 400px;}
.place h3{ float: left; margin: 120px 0 20px 20px;}
.place p{float: left; margin: 20px 25px 0px 20px;}


#brand{width: 1165px; height: 275px; margin: 0 auto; opacity: 0.5;}
.logo{position: relative; float: left; width:264px; height: 120px; margin: 75px 0 0 21px; }
.logo img{position: absolute; width: 100%; height: 100%;} 
.logoborder{border: 4px solid #333;}
